:root {
  --background-color-item: #ffffff;
  --second-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
  --box-shadow: rgba(204, 224, 245, 0.2) 0px 8px 24px ;
  --primary-color-btn:#0093cf;
  --danger-color: #FF0000;
  --success-color: #00FF00;
  --info--color:#0dcaf0;
  --warning-color: #ffc107;
  --dark-color: #212529;
  --light-color:#f8f9fa;
  --secondary-color:#0d6efd;
  --background-color: #f5f7f8;
  --border : 1px solid rgb(221, 221, 221);
  --footer-color : #C0DAC1;
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);

  /*================= Font=============*/
  --font-family: 'Poppins', sans-serif;
  --header-height: 3rem;  
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;
  --border-radius: 20px;
  --font-size: 16px;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --box-shadow-hover: 0 3px 10px rgb(31 31 31 / 16%), 0 3px 10px rgb(31 31 31 / 23%);
  --box-shadow:0 1px 6px rgb(31 31 31 / 12%), 0 1px 4px rgb(31 31 31 / 12%);
}

*{
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
}

html,body {
  letter-spacing: -.025em;
  font-size: var(--font-size);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  position: relative;
}

.container{
  width: 80%;
  margin: 0 auto;
}
button {
  cursor: pointer;
}

section {
  margin-top: 50px;
}

ul{
  text-decoration: none;
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}
h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

/* ================================GRID============================== */
.row-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

[class*="col-"] {
  padding: 1rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*==================== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: var(--z-fixed);
  transition: .4s;
}
  
/*=================== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.nav__img {
  width: 32px;
  border-radius: 50%;
 }
  
.nav__logo {
  color: var(--title-color);
  font-weight: 600;
  font-size: 1.25rem;
}

.nav__list, .nav__link {
  display: flex;
}
  
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}
  
.nav__list {
  justify-content: space-around;
}
  
.nav__name {
  font-size: var(--tiny-font-size);
}
  
.nav__icon {
  font-size: 1.5rem;
}
  
/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}
  
/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}
  
/** Search bar */
.search-container{
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
}
.search-bar__input{
  height: 50px;
  margin-right: 20px;
  text-indent: 20px;
  outline: none;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border:none;
  font-size: var(--font-size);
  position: relative;
}

.search-bar__input:focus{
  box-shadow: var(--box-shadow-hover);
}

.search-bar__icon {
  position: absolute;
  right:50px;
}

.search-bar__btn{
  width: 200;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  background-color:var(--primary-color-btn);
  border: 1px solid var(--primary-color-btn);
  color: var(--primary-color-btn);
  overflow: unset; 
}

 /*======================== Course List============================ */
.course-list{
  display: flex;
  width: 100% ;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.course-item {
  background-color: var(--background-color-item);
  width: 290px;
  margin: 20px 10px;
  position: relative;
  transition: 0.5s;
  left: 0px;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow : var(--box-shadow);
  -moz-box-shadow : var(--box-shadow);
}

.course-item:hover {
  -webkit-box-shadow: var(--box-shadow-hover);
  -moz-box-shadow: var(--box-shadow-hover);
  box-shadow: var(--box-shadow-hover);
}

.course-item >img {
  width: 100%;
  min-width: 290px;
}

.course-item__name {
  font-size: 1.25rem;
  color: #0062e4;
  font-weight: 400;
}
.course-item-information{
  width: 90%;
  margin: 0 auto;
  font-size: var(--normal-font-size);
}
.course-item__button{
  margin-top:20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.btn-primary {
    color:var(--white);
    background-color:var(--primary-color-btn);
}

.course-btn:hover {
  opacity: 0.75;
  transition: .5s ease-in-out;
  color: #ffffff;
  background-color:var(--primary-color-btn);
  border-radius: var(--border-radius);
  width: 60%;
}
.course-item__button > button {
    padding: 0 auto;
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
}

/*==================================FAQ=========================================*/
.faqs {
  width: 60%;
}
.faq-list-item {
  background-color: var(--background-color-item);
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding: 12px;
  
}

.question {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 84px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.faq-list-item__icon {
  font-size: 2rem;
  color: var(--info--color);
}

.faq-list-item__detail {
  padding: 1.5rem !important;
  overflow: hidden;
}

[hidden = true] {
  display: none;
}

[hidden = false] {
  display: block;
  
}
.question > h3 {
  font-weight: 600;
}

/*===============================END-FAQ======================================*/

/*=================================FOOTER====================================*/
.footer {
  border-top: 1px var(--grey) solid;
  background-color: var(--footer-color);
}

.footer__slogan {
  max-width: 700px;
}
.footer-container {
  margin-top: 30px;
  margin-bottom: 0;
}

.society > li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}

/*==================================NEW COURSE================================*/

.new-course {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.fa-angle-right, .fa-angle-left {
  font-size: 30px;
  position: absolute;
}

.fa-angle-right{
  right: 7%;
}

.fa-angle-left {
  left: 7%;
}

.carousel {
  position: relative;
  margin: auto;  
  display: flex;
  align-items: center;
  overflow-x: auto;
  justify-content: flex-start;  
}

.carousel::-webkit-scrollbar {
  visibility: hidden;
}
#next, #previous {
  cursor: pointer;
}
#next:hover, #previous:hover {
  color: #FF0000;
  font-size: 40px;
}

/*============================QUERY-MEDIA===============================*/
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background-color-item);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
  .search-bar__input {
      width: 90%;
  }
  .container {
    width: 95% !important;
  }
  .course-item {
    width: 250px;
  }
  .course-item > img {
    width: 100%;
    min-width: 250px;
  }
  :root {
    font-size: 14px !important;
  }

  .search-course {
      margin-top: 100px;
  }
}
  @media screen and (max-width: 576px) {
    .nav__name {
      display: none;
    }
    .search-bar__input {
        width: 80%;
    }
    .carousel {
        width: 310px;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 576px) {
    .nav__list {
      justify-content: center;
      column-gap: 3rem;
    }
    .search-bar__input {
        width: 80%;
    }
    .carousel {
        width: 620px;
    }
  }
  @media screen and (min-width: 500px) {
    .carousel {
        width: 270px;
    }
  }

  
  
  @media screen and (min-width: 767px) {
    body {
      margin: 0;
    }
    .section {
      padding: 7rem 0 2rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
    }
    .nav__img {
      display: none;
    }
    .nav__icon {
      display: none;
    }
    .nav__name {
      font-size: var(--normal-font-size);
    }
    .nav__link:hover {
      color: var(--first-color);
    }
    .active-link::before {
      content: '';
      position: absolute;
      bottom: -.75rem;
      width: 4px;
      height: 4px;
      background-color: var(--first-color);
      border-radius: 50%;
    }
  
    .search-bar__input {
        width: 60%;
    }
    .carousel {
        width: 620px;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .search-bar__input {
        width: 50%;
    }
    .search-course {
        margin-top: 130px;
    }
    .carousel {
        width: 930px;
    }
  }

  @media screen and (min-width: 1500px) {
    .carousel {
        width: 1240px;
    }
  }
  @media screen and (max-width: 1024px)  {
    .faqs {
      width: 90%;
    }
  }
