/*==================== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: var(--z-fixed);
  transition: .4s;
}
  
/*=================== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item:hover, .nav__item:active {
  color: #622335;
}
  
.nav__img {
  width: 32px;
  border-radius: 50%;
 }
  
.nav__logo {
  color: var(--title-color);
  font-weight: 600;
  font-size: 1.25rem;
}

.nav__list, .nav__link {
  display: flex;
}
  
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}
  
.nav__list {
  justify-content: space-around;
}
  
.nav__name {
  font-size: var(--tiny-font-size);
}
  
.nav__icon {
  font-size: 1.5rem;
}
  
/*========Active link=======*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}
  
/* .scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
} */

/*============================QUERY-MEDIA===============================*/
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background-color-item);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
  .search-bar__input {
      width: 90%;
  }
  .container {
    width: 95% !important;
  }
  .course-item {
    width: 250px;
  }
  .course-item > img {
    width: 100%;
    min-width: 250px;
  }
  :root {
    font-size: 14px !important;
  }

  .search-course {
      margin-top: 100px;
  }
}

  
@media screen and (max-width: 576px) {
    .nav__name {
      display: none;
    }
    .search-bar__input {
        width: 80%;
    }
    .carousel {
        width: 310px;
    }
}
  
  /* For medium devices */
@media screen and (min-width: 576px) {
    .nav__list {
      justify-content: center;
      column-gap: 3rem;
    }
    .search-bar__input {
        width: 80%;
    }
    .carousel {
        width: 620px;
    }
}

@media screen and (min-width: 500px) {
    .carousel {
        width: 270px;
    }
}

@media screen and (min-width: 767px) {
    body {
      margin: 0;
    }
    .section {
      padding: 7rem 0 2rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
    }
    .nav__img {
      display: none;
    }
    .nav__icon {
      display: none;
    }
    .nav__name {
      font-size: var(--normal-font-size);
    }
    .nav__link:hover {
      color: var(--first-color);
    }
    .active-link::before {
      content: '';
      position: absolute;
      bottom: -.75rem;
      width: 4px;
      height: 4px;
      background-color: var(--first-color);
      border-radius: 50%;
    }
  
    .search-bar__input {
        width: 60%;
    }
    .carousel {
        width: 620px;
    }
}
  
  /* For large devices */
@media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .search-bar__input {
        width: 50%;
    }
    .search-course {
        margin-top: 130px;
    }
    .carousel {
        width: 930px;
    }
}

@media screen and (min-width: 1500px) {
    .carousel {
        width: 1240px;
    }
}

@media screen and (max-width: 1024px)  {
    .faqs {
      width: 90%;
    }
}
